// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indivComments {
  border: black solid 3px;
  margin: 5px;
  background-color: white;
  padding: 3px;
}

.commentsDivider {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 25px;
}

.addComment-textarea {
  width: 98%;
  height: 200px;
}

.addCommentButton {
  background-color: white;
  border-radius: 3px;
  border-width: 3px;
  border-color: black;
  font-size: 18px;
}

.addCommentButton:hover {
  background-color: blue;
  color: white;
}

.commentsTop {
  display: flex;
  justify-content: center;
  margin: 25px;
}
