// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indexPost {
  border: black 3px solid;
  margin: 5px;
  background-color: white;
}
