// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indexPost {
  border: black 3px solid;
  margin: 5px;
  background-color: white;
}

.postWrapper {
  border: black solid 3px;
  margin: 5px;
  padding: 12px;
  background-color: white;
}

.indexPostTop {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

.indexPostBottom {
  margin: 10px;
}
